<%page expression_filter="h"/>
<%inherit file="main.html" />
<%block name="bodyclass">page-home</%block>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header class="home-banner">
        <div class="outer-wrapper">
          <div class="banner-title">
            <h1><span>${_("The freedom")}</span> ${_("to study")}</h1>
            <h2><span>${_("Online")}</span> ${_("courses to discover, learn, progress and succeed")}</h2>
            <div class="explore-catalog-box">
              <a class="explore-catalog" href="/courses">${_("Explore our catalog")} 
                  <img src="${static.url("images/icons/right-arrow.svg")}" alt="Explore" class="link_image explore-arrow">
              </a>
            </div>
          </div>

          <%include file="index_promo_video.html" />
        </div>
        <div class="banner-clipart">
          <img src="${static.url("images/clipart/banner.webp")}" alt="Omnikampus">
        </div>
      </header>
      
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
